   </main>
   <%- include('../partials/main_footer') %>
   <script type="text/javascript" src="/public/scripts/functions.js"></script>
   <script type="text/javascript" src="/public/quill/quill.js"></script>
</body>

</html>