<%- include('partials/head') %>

   <div class="col-6 offset-3">
      <h1 class="text-center">404</h1>
      <h2>Recurso Não Encontrado</h2>
      <p class="lead">O recurso solicitado não foi encontrado em nossos servidores. Pode ser devido a uma
         indisponibilidade temporária do recurso solicitado, ele pode ter sido excluído ou pode ser que nunca tenha
         existido.</p>
      <p class="lead">Por gentileza, verifique se a solicitação está correta e tente realizar o acesso mais tarde.</p>

   </div>

   <%- include('partials/foot') %>