<%- include('partials/head') %>

   <div class="col-6 offset-3">
      <h1 class="text-center">500</h1>
      <h2>Erro Interno de Servidor</h2>
      <p class="lead">Algo deu errado e nossos servidores não puderam processar sua solicitação. Por favor, tente mais
         tarde.</p>

   </div>

   <%- include('partials/foot') %>