<%- include('partials/head') %>
   <div class="col-3 offset-4">
      <h1 class="text-center">Bem-Vindo(a) à Estante Montessori</h1>
      <form>
         <div class="form-group" action="/" method="GET">
            <label for="exampleInputEmail1">Endereço de email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="email@domínio.xyz">

         </div>
         <div class="form-group mt-3">
            <label for="exampleInputPassword1">Senha de Usuário</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="senha">
         </div>

         <button type="submit" class="btn btn-primary mt-3">Ingressar</button>
   </div>
   <%- include('partials/foot') %>