<%- include('../partials/head') %>

   <div class="row d-flex justify-content-center">
      <div class="col-md-6 p-3 border rounded bg-light">
         <h1 class="text-center">Cadastrar Nova Ferramenta</h1>

         <form action="/ferramentas" method="POST" novalidate class="validate" id="form" enctype="multipart/form-data">
            <div class="mb-2">
               <label class="form-label" for="title">Título</label>
               <input class="form-control" type="text" id="title" name="tool[title]" required>
            </div>
            <div class="mb-2">
               <label class="form-label" for="ages">Faixa Etárea</label>
               <input class="form-control" type="text" id="ages" name="tool[ages]" required>
            </div>
            <div class="mb-2">
               <label class="form-label" for="sensiblePeriod">Período Sensível</label>
               <select class="form-select" id="sensiblePeriod" name="tool[sensiblePeriod]" required>
                  <option value="" selected disabled hidden>Selecione uma Opção</option>
                  <% for(let period of sensiblePeriod) {%>
                     <option value="<%= period.name %>">
                        <%= period.name %>
                     </option>
                     <% } %>
               </select>
            </div>
            <div class="mb-2">
               <label class="form-label" for="description">Descrição</label>
               <textarea class="form-control" type="text" id="description" name="tool[description]" hidden></textarea>
               <div id="editor"></div>
            </div>
            <div class="mb-2">
               <label class="form-label" for="owned">Possui?</label>
               <select class="form-select id=" owned" name="tool[owned]" required>
                  <option value="" selected disabled hidden>Selecione uma Opção</option>
                  <option value="Não">Não</option>
                  <option value="Sim">Sim</option>
               </select>
            </div>
            <div class="mb-2">
               <label class="form-label" for="picture">Imagem</label>
               <input class="form-control"type="file" name="image" id="picture">
               <div id="pictureHelp" class="form-text">
                  Aceita imagens de 400x400 pixels. Imagens de tamanho diferente serão cortadas/redimensionadas.
               </div>
            </div>
            <button class="btn btn-primary mt-2
            ">Cadastrar</button>
         </form>
      </div>
   </div>

   <%- include('../partials/foot') %>

      <script type="text/javascript" src="/public/scripts/functions.js"></script>
      <script>bootstrapFormValidation()</script>
      <script>createQuill('editor','form','description')</script>