<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Detalhes da Atividade</title>
</head>


<body>
   <h1>
      <%=activity.title%>
   </h1>
   <footer>
      <a href="/atividades/<%=activity._id%>/editar">Editar</a>
   </footer> </br>
   <a href="/atividades">Todas as Atividades</a>
   </footer>
</body>

</html>