<%- include('../partials/head') %>

   <div class="col-6 offset-3">
      <h1 class="text-center">Cadastrar Nova Atividade</h1>

      <form action="/atividades" method="POST" novalidate class="validate">
         <div class="mb-2">
            <label class="form-label" for="title">Título</label>
            <input class="form-control" type="text" id="title" name="activity[title]" required>
         </div>
         <div class="mb-2">
            <label class="form-label" for="ages">Idade</label>
            <input class="form-control" type="text" id="ages" name="activity[ages]" required>
         </div>
         <div class="mb-2">
            <label class="form-label" for="sensiblePeriod">Período Sensível</label>
            <select class="form-select" id="sensiblePeriod" name="activity[sensiblePeriod]" required>
               <option value="" selected disabled hidden>Selecione uma Opção</option>
               <option value="Movimento">Movimento</option>
               <option value="Linguagem">Linguagem</option>
               <option value="Detalhes">Detalhes</option>
               <option value="Ordem">Ordem</option>
               <option value="Desenvolvimento dos Sentidos">Desenvolvimento dos Sentidos</option>
               <option value="Refinamento dos Sentidos">Refinamento dos Sentidos</option>
               <option value="Graça e Cortesia">Graça e Cortesia</option>
               <option value="Música e Ritmo">Música e Ritmo</option>
               <option value="Escrita">Escrita</option>
               <option value="Leitura">Leitura</option>
               <option value="Matemática">Matemática</option>
            </select>
         </div>
         <div class="mb-2">
            <label class="form-label" for="category">Categoria</label>
            <input class="form-control" type="text" id="category" name="activity[category]">
         </div>
         <div class="mb-2">
            <label class="form-label" for="theme">Tema</label>
            <input class="form-control " type="text" id="theme" name="activity[theme]">
         </div>
         <div class="mb-2">
            <label class="form-label" for="description">Descrição</label>
            <textarea class="form-control" type="text" id="description" name="activity[description]"
               required></textarea>
         </div>
         <div class="mb-2">
            <label class="form-label" for="owned">Possui?</label>
            <select class="form-select id=" owned" name="activity[owned]" required>
               <option value="" selected disabled hidden>Selecione uma Opção</option>
               <option value="Não">Não</option>
               <option value="Sim">Sim</option>
            </select>
         </div>
         <div class="mb-2">
            <label class="form-label" for="picture">Imagem</label>
            <input class="form-control" type="text" id="picture" name="activity[picture]" required>
         </div>
         <button class="btn btn-primary mt-2
         ">Cadastrar</button>
      </form>
   </div>

   <%- include('../partials/foot') %>

      <script>
         // Bootstrap 5 Example starter JavaScript for disabling form submissions if there are invalid fields
         (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.validate')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
               .forEach(function (form) {
                  form.addEventListener('submit', function (event) {
                     if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                     }

                     form.classList.add('was-validated')
                  }, false)
               })
         })()
      </script>