<%- include('../partials/head') %>

   <div class="col-6 offset-3">
      <h1 class="text-center">Cadastrar Nova Criança</h1>

      <form action="/criancas" method="POST" novalidate class="validate">
         <div class="mb-2">
            <label class="form-label" for="firstName">Nome</label>
            <input class="form-control" type="text" id="firstName" name="child[firstName]" required>
         </div>
         <div class="mb-2">
            <label class="form-label" for="lastName">Sobrenome</label>
            <input class="form-control" type="text" id="lastName" name="child[lastName]" required>
         </div>
         <div class="mb-2">
            <label class="form-label" for="birth">Data de Nascimento</label>
            <input class="form-control" type="date" id="birth" name="child[birth]" required>
         </div>

         <div class="mb-2">
            <label class="form-label" for="gender">Gênero</label>
            <select class="form-select" id="gender" name="child[gender]" required>
               <option value="" selected disabled hidden>Selecione uma Opção</option>
               <option value="femenino">Femenino</option>
               <option value="masculino">Masculino</option>
            </select>
         </div>
         <div class="mb-2">
            <label class="form-label" for="picture">Imagem</label>
            <input class="form-control" type="text" id="picture" name="child[picture]">
         </div>
         <button class="btn btn-primary mt-2
         ">Cadastrar</button>
      </form>
   </div>

   <%- include('../partials/foot') %>

      <script type="text/javascript" src="/public/scripts/functions.js"></script>
      <script>bootstrapFormValidation()</script>